.board {
  /* THEME */
  --bg-color: silver;
  --tile-bg-1-color: gray;
  --tile-bg-2-color: whitesmoke;

  background-color: var(--bg-color, silver);

  box-sizing: border-box;

  height: 100vh;
  padding: 0.7rem;
  padding-top: 2rem;
  margin: 0;
}

.tiles {
  display: grid;
  grid: repeat(6, 1fr) / repeat(5, 1fr);
}

.score {
  display: flex;
  justify-content: space-between;
  margin-top: 0.3rem;
}

.score > p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.score > p:nth-child(2) {
  align-items: flex-end;
}

.score > p > span {
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 700;
}

.score > p > output {
  width: fit-content;
  display: block;

  font-size: 3rem;
  font-weight: 800;
}
