.tile {
  aspect-ratio: 1 / 1;

  position: relative;
  display: grid;
  grid-template-areas: "stack";
  place-content: center;

  appearance: none;
  border: none;
  margin: 0;
  padding: 0;
}

.tile > * {
  grid-area: stack;

  width: 100%;
  height: auto;
}

.tile:nth-child(odd) {
  background-color: var(--tile-bg-1-color, gray);
}
.tile:nth-child(even) {
  background-color: var(--tile-bg-2-color, whitesmoke);
}

/* Border like animation */
.selected,
.empty {
  --default-tile-borders-color: red;
  background: linear-gradient(
      90deg,
      var(--tile-borders-color, --default-tile-borders-color) 50%,
      transparent 50%
    ),
    linear-gradient(
      90deg,
      var(--tile-borders-color, --default-tile-borders-color) 50%,
      transparent 50%
    ),
    linear-gradient(
      0deg,
      var(--tile-borders-color, --default-tile-borders-color) 50%,
      transparent 50%
    ),
    linear-gradient(
      0deg,
      var(--tile-borders-color, --default-tile-borders-color) 50%,
      transparent 50%
    );
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size:
    23% 4%,
    23% 4%,
    4% 23%,
    4% 23%;
  background-position:
    left top,
    right -15.5% bottom,
    left bottom,
    right top -15.5%;

  animation: walking-borders 8s linear infinite;
}
@keyframes walking-borders {
  0% {
    background-position:
      left top,
      right -15% bottom,
      left bottom,
      right top -15%;
  }
  100% {
    background-position:
      left 237.5% top,
      right 223.5% bottom,
      left bottom 237.5%,
      right top 223.5%;
  }
}

.selected {
  --tile-borders-color: var(--tile-borders-color-selected, red);
}

.selected.empty {
  --tile-borders-color: var(--tile-borders-color-empty, green);
}

.toast {
  position: absolute;
  left: -10%;

  width: 120%;
  height: 100%;
  z-index: 1000000;

  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  place-content: center;
}
