.tile {
  aspect-ratio: 1 / 1;

  display: flex;
  align-items: center;
  justify-content: center;

  appearance: none;
  border: none;
}

.tile:nth-child(odd) {
  background-color: var(--tile-bg-1-color, gray);
}
.tile:nth-child(even) {
  background-color: var(--tile-bg-2-color, whitesmoke);
}

.selected {
  border: 2px red solid;
}
