.tile {
  aspect-ratio: 1 / 1;

  position: relative;
  display: grid;
  grid-template-areas: "stack";
  place-content: center;

  appearance: none;
  border: none;
  margin: 0;
  padding: 0;
}

.tile > * {
  grid-area: stack;

  width: 100%;
  height: auto;
}

.tile:nth-child(odd) {
  background-color: var(--tile-bg-1-color, gray);
}
.tile:nth-child(even) {
  background-color: var(--tile-bg-2-color, whitesmoke);
}

.selected {
  border: 2px red solid;
}

.selected.empty {
  border: 2px green solid;
}

.toast {
  position: absolute;
  left: -10%;

  width: 120%;
  height: 100%;
  z-index: 1000000;

  display: grid;
  grid-template-columns: max-content;
  grid-template-rows: max-content;
  place-content: center;
}
